<h2>AS400 Tools</h2>
<div id="tools">
  <%= link_to 'Unlock PO', unlock_po_path, class: 'btn btn-primary' %>
  <br />
  <%= link_to 'Unlock WHS Item', unlock_whs_item_path, class: 'btn btn-primary' %>
  <br />
  <%= link_to 'Unlock Vendor', unlock_vendor_path, class: 'btn btn-primary' %>
</div>