<% @page_title = 'Unlock PO' %>

<h2>Unlock PO</h2>
<h6>Use RFADMIN #17 if this tool doesn't unlock the PO</h6>

<%= form_tag unlock_po_path, remote: true, id: 'unlock-form' do %>
  <div class="form-group">
    <%= text_field_tag 'po_num', nil, class: 'form-control',
      placeholder: 'PO Number', required: true,
      maxlength: '30', autofocus: 'autofocus' %>
  </div>
  
  <%= submit_tag 'Unlock PO', class: 'btn btn-primary',
    data: { disable_with: "Checking..." } %>
<% end %>